#main-about {
	height: 85vh;
	background-size: cover;
	background-image: url("/src/assets/accueil_720.jpg");
	background-position: 0% 26%;
	position: relative;
}

#about-content {
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	padding: 5rem 10rem;
	border-radius: 2rem;

	position: absolute;
	top: 10%;
	right: 10%;

	color: white;
}

#about-content h1 {
	padding-left: 10rem;
	padding-bottom: 2rem;
}

#about-content p {
	text-align: left;
	padding: 1rem;
	line-height: 1.5;
}
