main#game-main {
	display: grid;
	grid-template: 2fr 1fr / 35vw 2fr;
	height: 85vh;

	background-image: url("../assets/game-background.jpg");
	background-size: cover;
}

main#game-main div#game-stats {
	display: flex;
	flex-direction: column;
	align-items: end;

	gap: 2rem;

	padding: 1rem;
}

button.game-buttons {
	background-color: black;
	border: none;
	border-radius: 5px;
	opacity: 60%;

	font-family: "Hind Vadadora", sans-serif;
	font-size: 0.8rem;
	text-decoration: none;
	color: white;

	padding: 0.4rem 1.4rem;

	cursor: pointer;
}

button.game-buttons:hover {
	opacity: 1;
}

main#game-main section#game-gameset {
	grid-area: 1 / 2 / 3 / 2;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;

	position: relative;
	margin: 2rem 0 1rem 0;
}

main#game-main article#game-rules {
	margin-top: 10%;
	padding: 1em;

	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

#mobile-version {
	display: none;
}

@media screen and (max-width: 768px) {
	#mobile-version {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 85vh;
		width: 100vw;
		background-image: url("../assets/game-background.jpg");
		background-size: cover;
		z-index: 4;
		position: absolute;
	}

	#mobile-version p {
		background-color: var(--light-color);
		padding: 5rem;

		border-radius: 25px;

		height: fit-content;
		max-width: 80%;
		text-align: center;
	}
}
